.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}

.status[data-online='true'] {
  background-color: green;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.name {
  font-size: 20px;
  font-weight: 600;
}
