.statistics {
  width: 300px;
  padding: 50px 30px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.stat_list {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  width: 60px;
  border-radius: 2px;
  text-align: center;
  background-color: green;
  color: white;
}

.item:first-child {
  background-color: blue;
}

.item:nth-child(2) {
  background-color: orange;
}

.item:nth-child(3) {
  background-color: violet;
}

.item:last-child {
  background-color: red;
}
